@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 5px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.body {
    /* display: flex;
    justify-content: end; */
    background-color: azure;
    min-height: 100vh;
}

.slider {
    position: relative;
}

.slider-img {
    /* position: absolute; */
    margin-left: 1;
    font-family: 'Caveat', cursive;
    background: transparent;
    font-size: 25px;
}

.cards {
    /* border: 1px solid black; */
    font-family: 'Caveat', cursive;
    background: transparent;
    font-size: 35px;
}

.sticky-footer {
    position: sticky;
    top: 100%;
}

.footer1 {
    background: #0b0d0f;
}

.footer2 {
    background-color: black;
    height: 50px;
}

.test-border {
    border: 1px solid black;
}

.vertical-scrollable {
    height: 600px;
    overflow-y: scroll;
}

.color-vertical-scrollable {
    height: 300px;
    overflow-y: scroll;
    z-index: 22;
}

.horizontal-scroll {
    height: 100%;
    overflow-x: scroll;
}

.horizontal-scroll img {
    width: 50px;
    height: 50px;
}

.main-design canvas {
    width: 100%;
    height: 600px;
}