{% load static %}

<!DOCTYPE html>
<html lang="en">

<!-- faq27:05-->

<head>
    <meta charset="utf-8">
    <title>Contra - Interior Creator HTML Template | FAQ's</title>
    <!-- Stylesheets -->
    <link href="{% static 'home_resource/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'home_resource/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'home_resource/css/responsive.css' %}" rel="stylesheet">
    <!--Color Switcher Mockup-->
    <link href="{% static 'home_resource/css/color-switcher-design.css' %}" rel="stylesheet">
    <!--Color Themes-->
    <link id="theme-color-file" href="{% static 'home_resource/css/color-themes/default-theme.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'home_resource/images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'home_resource/images/favicon.png' %}" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Uses header1 -->
        {% include "header1.html" %}

        <!--Page Title-->
        <section class="page-title" style="background-image:url(/static/home_resource/images/background/10.jpg);">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="title-box">
                        <h1>Faquality Ask Question</h1>
                        <span class="title">The Interior speak for themselves</span>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'myapp:home' %}">Home</a></li>
                        <li>FAQ's</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->

        <!-- FAQ Section -->
        <section class="faq-section">
            <div class="auto-container">
                <div class="row">
                    <!-- Image Column -->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="image-box">
                                <figure class="image"><img
                                        src="{% static 'home_resource/images/resource/faq-img.jpg' %}" alt=""></figure>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="sec-title">
                                <span class="float-text">some FAQ’s</span>
                                <h2>Frequality Asked Questions</h2>
                            </div>
                            <ul class="accordion-box">
                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Do you do the design and the execution yourselves? <div
                                            class="icon fa fa-plus-square"></div>
                                    </div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Contra for a Period of 5 years and promise to
                                                rectify any fault arising out of faulty workmanship at our cost. However
                                                the guarantee does not hold good for mishandling and breakable items.
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block active-block">
                                    <div class="acc-btn active">Do you give Contra and After sales service? <div
                                            class="icon fa fa-plus-square"></div>
                                    </div>
                                    <div class="acc-content current">
                                        <div class="content">
                                            <div class="text">We give a Contra for a Period of 5 years and promise to
                                                rectify any fault arising out of faulty workmanship at our cost. However
                                                the guarantee does not hold good for mishandling and breakable items.
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Will you be able to give a quote, if given the floor plan? <div
                                            class="icon fa fa-plus-square"></div>
                                    </div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Contra for a Period of 5 years and promise to
                                                rectify any fault arising out of faulty workmanship at our cost. However
                                                the guarantee does not hold good for mishandling and breakable items.
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">At what stage an interior designing work could be started?<div
                                            class="icon fa fa-plus-square"></div>
                                    </div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Contra for a Period of 5 years and promise to
                                                rectify any fault arising out of faulty workmanship at our cost. However
                                                the guarantee does not hold good for mishandling and breakable items.
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Do you charge for giving a Proposal?<div
                                            class="icon fa fa-plus-square"></div>
                                    </div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Contra for a Period of 5 years and promise to
                                                rectify any fault arising out of faulty workmanship at our cost. However
                                                the guarantee does not hold good for mishandling and breakable items.
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End FAQ Section -->

        <!-- Faq Form Section -->
        <section class="faq-form-section">
            <div class="auto-container">
                <div class="sec-title">
                    <span class="float-text">Question</span>
                    <h2>Your Question Tell</h2>
                </div>


                <!-- Faq Form -->
                <div class="faq-form">
                    <form method="post" action="#">
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-12">
                                <input type="text" name="username" placeholder="Name" required>
                            </div>

                            <div class="form-group col-lg-6 col-md-12">
                                <input type="email" name="email" placeholder="Email" required>
                            </div>

                            <div class="form-group col-lg-12 col-md-12">
                                <textarea name="message" placeholder="Massage"></textarea>
                            </div>

                            <div class="form-group col-lg-12 col-md-12">
                                <button class="theme-btn btn-style-three" type="submit"
                                    name="submit-form">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!--End Contact Section -->

        <!-- Uses footer1 -->
        {% include "footer1.html" %}

    </div>



    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-o-up"></span></div>
    <script src="{% static 'home_resource/js/jquery.js' %}"></script>
    <script src="{% static 'home_resource/js/popper.min.js' %}"></script>
    <script src="{% static 'home_resource/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home_resource/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'home_resource/js/owl.js' %}"></script>
    <script src="{% static 'home_resource/js/wow.js' %}"></script>
    <script src="{% static 'home_resource/js/appear.js' %}"></script>
    <script src="{% static 'home_resource/js/mixitup.js' %}"></script>
    <script src="{% static 'home_resource/js/script.js' %}"></script>
    <!-- Color Setting -->
    <script src="{% static 'home_resource/js/color-settings.js' %}"></script>
</body>

<!-- faq27:05-->

</html>