{% load static %}

<!-- Main Header-->
<header class="main-header header-style-four">
    <div class="header-top">
        <div class="auto-container clearfix">
            <div class="top-right">
                <ul class="contact-info">
                    <li><span>PHONE :</span> (+84) 867-557-243</li>
                    <li><span>EMAIL :</span> <a href="#">Support@yourdomain.com</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header-lower">
        <div class="auto-container">
            <div class="main-box clearfix">
                <div class="logo-box">
                    <div class="logo"><a href="{% url 'myapp:about' %}"><img src="{% static 'images/logo-2.png' %}"
                                alt="" title=""></a></div>
                </div>

                <div class="nav-outer">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md ">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon flaticon-menu-button"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li><a href="{% url 'myapp:home' %}">Home</a></li>
                                <li><a href="{% url 'myapp:about' %}">About</a></li>
                                <li><a href="{% url 'myapp:service' %}">Services</a></li>
                                <li><a href="{% url 'myapp:project' %}">Projects</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Shop</a></li>
                                <li><a href="{% url 'myapp:contact' %}">Contact</a></li>
                                <!-- <li><a href="{% url 'myapp:login' %}">Login</a></li> -->
                                <li><a href="{% url 'myapp:login' %}?next={{request.path}}">Login</a></li>
                                <li class="dropdown">
                                    <a href="#">
                                        <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                                                style="border-radius: 50%; border: 2px solid black;">
                                        </button>
                                        {{request.user.username}}
                                    </a>
                                    <ul>
                                        <li><a href="{% url 'myapp:profile' %}">Profile</a></li>
                                        <li><a href="{% url 'myapp:logout' %}">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
            </div>
        </div>
    </div>
</header>
<!--End Main Header -->