{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- about27:04-->

<head>
    <meta charset="utf-8">
    <title>Contra - Interior Creator HTML Template | About Us</title>
    <!-- Stylesheets -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/home_style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/render_style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!--Color Switcher Mockup-->
    <link href="{% static 'css/color-switcher-design.css' %}" rel="stylesheet">

    <!--Color Themes-->
    <link id="theme-color-file" href="{% static 'css/color-themes/default-theme.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>

    <!-- jQuery Scripts -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

</head>

<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Uses header1 -->
        {% include "header1.html" %}

        <!--Page Title-->
        <section class="page-title" style="background-image:url(/static/images/background/10.jpg);">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="title-box">
                        <h1>Designing your rooms</h1>
                        <span class="title">The Interior speak for themselves</span>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'myapp:home' %}">Home</a></li>
                        <li>Designing Room</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->
        <section class="about-section" style="background-image: url(/static/images/background/1.jpg);">
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="image-column col-lg-2 col-md-12 col-sm-12 vertical-scrollable">
                        <ul class="list-group" style="padding-right: 10px; color:black">
                            <!-- --------------------------------------Floor------------------------------------------ -->
                            <button class="collapsible">Floor</button>
                            <li class="list-group-item-primary content">
                                <div style="border: 1px; margin-top: 10px;">
                                    <form enctype="multipart/form-data" id="id_ajax_upload_floor" method="POST"
                                        novalidate="">
                                        {% csrf_token %}
                                        <!-- {{ floor_form.texture_wall }} -->
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Choose Floor Size
                                            </button>
                                            <div class="dropdown-menu  color-vertical-scrollable"
                                                aria-labelledby="dropdownMenu2">
                                                <button class="dropdown-item" onclick="changeFloorSize(event)"
                                                    type="button" name="floor_dropdown">Floor 12X12</button>
                                                <button class="dropdown-item" onclick="changeFloorSize(event)"
                                                    type="button" name="floor_dropdown">Floor 12X24</button>
                                                <button class="dropdown-item" onclick="changeFloorSize(event)"
                                                    type="button" name="floor_dropdown">Floor 24X24</button>
                                                <button class="dropdown-item" onclick="changeFloorSize(event)"
                                                    type="button" name="floor_dropdown">Floor Grout</button>
                                            </div>
                                        </div>
                                        <input class="form-control form-control-sm" id="floor_input"
                                            name="texture_Floor" type="file" multiple>
                                        <input type="submit" name="floor" />
                                    </form>
                                </div>
                                <div class="horizontal-scroll hstack gap-2">
                                    {% for floor_img in floor_textures %}
                                    <img onclick="changeFloor(this.src)" src="{{floor_img.texture_Floor.url}}"
                                        alt="no img" style="aspect-ratio: 1 / 1;" name="floor_texture_event">
                                    {% endfor %}
                                </div>
                            </li>
                            <!-- --------------------------------------Cabinet/changebaseCabinet2------------------------------------------ -->
                            <button class="collapsible">Cabinet</button>
                            <li class="list-group-item-primary content">
                                <div style="border: 1px; margin-top: 10px;">
                                    <form enctype="multipart/form-data" id="id_ajax_upload_cabinet" method="POST"
                                        novalidate="">
                                        {% csrf_token %}
                                        <!-- {{ cabinet_form.texture_wall }}
                                        <input type="color" class="form-control form-control-color w-25 " id="cabinet"
                                            value="#563d7c" title="Choose your color" style="margin-bottom: 10px;"
                                            name="cabinet"> -->
                                        <input type="text" class="form-control form-control-color w-50" name="cabinet"
                                            id="cabinet_id">
                                        <input type="submit" />
                                    </form>
                                    <script>
                                        $(function () {
                                            $("#cabinet_id").autocomplete({
                                                source: "{% url 'myapp:render'%}"
                                            });
                                        });
                                    </script>
                                </div>
                                <!-- <li class="list-group-item list-group-item-primary"> -->
                                <div class="horizontal-scroll hstack gap-2">
                                    {% for cabinet_img in cabinet_textures %}
                                    <input type="button" class="btn" mycolor="{{cabinet_img.cabinet}}"
                                        style="background-color: {{cabinet_img.cabinet}}; border: 5px solid white"
                                        alt="no img" onclick="changebaseCabinet2(event)">
                                    {% endfor %}
                                </div>
                                <!-- </li> -->
                            </li>
                            <!-- --------------------------------------Handles of Cabinet/changebaseCabinet2------------------------------------------ -->
                            <button class="collapsible">Handles of Cabinet</button>
                            <li class="list-group-item-primary content">
                                <div style="border: 1px; margin-top: 10px;">
                                    <form enctype="multipart/form-data" id="id_ajax_upload_cabinetHandle" method="POST"
                                        novalidate="">
                                        {% csrf_token %}
                                        <!-- {{ cabinetHandle_form.texture_wall }} -->
                                        <input type="color" class="form-control form-control-color w-25 "
                                            id="cabinetHandleID" value="#563d7c" title="Choose your color"
                                            name="cabinethandle" style="margin-bottom: 10px;">
                                        <input type="submit" />
                                    </form>
                                </div>
                                <!-- <li class="list-group-item list-group-item-primary"> -->
                                <!-- <li class=""> -->
                                <div class="horizontal-scroll hstack gap-2">
                                    {% for cabinetHandle_img in cabinetHandle_textures %}
                                    <input type="button" class="btn"
                                        style="background-color: {{cabinetHandle_img.cabinethandle}}; border: 5px solid white"
                                        alt="no img" onclick="changecabinethandle(event)"
                                        mycolor="{{cabinetHandle_img.cabinethandle}}">
                                    {% endfor %}
                                </div>
                                <!-- </li> -->
                            </li>
                            <!-- --------------------------------------Sink/changeSink------------------------------------------ -->
                            <button class="collapsible">Sink</button>
                            <li class="list-group-item-primary content">
                                <div style="border: 1px; margin-top: 10px;">
                                    <form enctype="multipart/form-data" id="id_ajax_upload_sink" method="POST"
                                        novalidate="">
                                        {% csrf_token %}
                                        <!-- {{ sink_form.texture_wall }} -->
                                        <input type="color" class="form-control form-control-color w-25 " id="sinkID"
                                            value="#563d7c" title="Choose your color" name="sink"
                                            style="margin-bottom: 10px;">
                                        <input type="submit" />
                                    </form>
                                </div>
                                <!-- <li class="list-group-item list-group-item-primary"> -->
                                <!-- <li class=""> -->
                                <div class="horizontal-scroll hstack gap-2">
                                    {% for sink_img in sink_textures %}
                                    <input type="button" class="btn"
                                        style="background-color: {{sink_img.sink}}; border: 5px solid white"
                                        alt="no img" onclick="changeSink(event)" mycolor="{{sink_img.sink}}">
                                    {% endfor %}
                                </div>
                            </li>
                            <!-- --------------------------------------Faucet/changeFaucet------------------------------------------ -->
                            <button class="collapsible">Faucet</button>
                            <li class="list-group-item-primary content">
                                <div style="border: 1px; margin-top: 10px;">
                                    <form enctype="multipart/form-data" id="id_ajax_upload_faucet" method="POST"
                                        novalidate="">
                                        {% csrf_token %}
                                        <!-- {{ faucet_form.texture_wall }} -->
                                        <input type="color" class="form-control form-control-color w-25 " id="faucetID"
                                            value="#563d7c" title="Choose your color" name="faucet"
                                            style="margin-bottom: 10px;">
                                        <input type="submit" />
                                    </form>
                                </div>
                                <!-- <li class="list-group-item list-group-item-primary"> -->
                                <!-- <li class=""> -->
                                <div class="horizontal-scroll hstack gap-2">
                                    {% for faucet_img in faucet_textures %}
                                    <input type="button" class="btn"
                                        style="background-color: {{faucet_img.faucet}}; border: 5px solid white"
                                        alt="no img" onclick="changeFaucet(event)" mycolor="{{faucet_img.faucet}}">
                                    {% endfor %}
                                </div>
                            </li>
                            <!-- --------------------------------------Walls/changeWall------------------------------------------ -->
                            <button class="collapsible">Walls</button>
                            <li class="list-group-item-primary content">
                                <div style="border: 1px; margin-top: 10px;">
                                    <form enctype="multipart/form-data" id="id_ajax_upload_walls" method="POST"
                                        novalidate="">
                                        {% csrf_token %}
                                        <!-- {{ walls_form.texture_wall }} -->
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Choose Wall Size
                                            </button>
                                            <div class="dropdown-menu color-vertical-scrollable"
                                                aria-labelledby="dropdownMenu2">
                                                <button class="dropdown-item" onclick="changeWallSize(event)"
                                                    type="button" name="wall_dropdown">Wall Full 12X12</button>
                                                <button class="dropdown-item" onclick="changeWallSize(event)"
                                                    type="button" name="wall_dropdown">Wall Full 24X24</button>
                                                <button class="dropdown-item" onclick="changeWallSize(event)"
                                                    type="button" name="wall_dropdown">Wall Full 12X24</button>
                                                <button class="dropdown-item" onclick="changeWallSize(event)"
                                                    type="button" name="wall_dropdown">Wall Full Grout</button>
                                                <button class="dropdown-item" onclick="changeWallSize(event)"
                                                    type="button" name="wall_dropdown">Wall Full 3X6</button>
                                                <button class="dropdown-item" onclick="changeWallSize(event)"
                                                    type="button" name="wall_dropdown">Wall Full 6X10</button>
                                                <button class="dropdown-item" onclick="changeWallSize(event)"
                                                    type="button" name="wall_dropdown">Wall Half 12X12</button>
                                                <button class="dropdown-item" onclick="changeWallSize(event)"
                                                    type="button" name="wall_dropdown">Wall Half 24X24</button>
                                                <button class="dropdown-item" onclick="changeWallSize(event)"
                                                    type="button" name="wall_dropdown">Wall Half 12X24</button>
                                                <button class="dropdown-item" onclick="changeWallSize(event)"
                                                    type="button" name="wall_dropdown">Wall Half Grout</button>
                                                <button class="dropdown-item" onclick="changeWallSize(event)"
                                                    type="button" name="wall_dropdown">Wall Half 3X6</button>
                                                <button class="dropdown-item" onclick="changeWallSize(event)"
                                                    type="button" name="wall_dropdown">Wall Half 6X10</button>
                                            </div>
                                        </div>
                                        <input type="color" class="form-control form-control-color w-25 " id="wallsID"
                                            value="#563d7c" title="Choose your color" name="walls"
                                            style="margin-bottom: 10px;">
                                        <input type="submit" />
                                    </form>
                                </div>
                                <!-- <li class="list-group-item list-group-item-primary"> -->
                                <!-- <li class=""> -->
                                <div class="horizontal-scroll hstack gap-2">
                                    {% for walls_img in walls_textures %}
                                    <input type="button" class="btn"
                                        style="background-color: {{walls_img.walls}}; border: 5px solid white"
                                        alt="no img" onclick="changeWall(event)" mycolor="{{walls_img.walls}}">
                                    {% endfor %}
                                </div>
                            </li>
                            <!-- --------------------------------------Door/changeDoor------------------------------------------ -->
                            <button class="collapsible">Door</button>
                            <li class="list-group-item-primary content">
                                <div style="border: 1px; margin-top: 10px;">
                                    <form enctype="multipart/form-data" id="id_ajax_upload_door" method="POST"
                                        novalidate="">
                                        {% csrf_token %}
                                        <!-- {{ door_form.texture_wall }} -->
                                        <input type="color" class="form-control form-control-color w-25 " id="doorID"
                                            value="#563d7c" title="Choose your color" name="door"
                                            style="margin-bottom: 10px;">
                                        <input type="submit" />
                                    </form>
                                </div>
                                <!-- <li class="list-group-item list-group-item-primary"> -->
                                <!-- <li class=""> -->
                                <div class="horizontal-scroll hstack gap-2">
                                    {% for door_img in door_textures %}
                                    <input type="button" class="btn"
                                        style="background-color: {{door_img.door}}; border: 5px solid white"
                                        alt="no img" onclick="changeDoor(event)" mycolor="{{door_img.door}}">
                                    {% endfor %}
                                </div>
                            </li>
                            <!-- --------------------------------------Backsplash------------------------------------------ -->
                            <button class="collapsible">Backsplash</button>
                            <li class="list-group-item-primary content">
                                <div style="border: 1px; margin-top: 10px;">
                                    <form enctype="multipart/form-data" id="id_ajax_upload_backsplash" method="POST"
                                        novalidate="">
                                        {% csrf_token %}
                                        <!-- {{ backsplash_form.texture_wall }} -->
                                        <input class="form-control form-control-sm" onchange="printColor(event)"
                                            id="backsplash_input" name="back_splash" type="file" multiple>
                                        <input type="submit" name="back_splash" />
                                    </form>
                                </div>
                                <!-- <li class="list-group-item list-group-item-primary"> -->
                                <!-- <li class=""> -->
                                <div class="horizontal-scroll hstack gap-2">
                                    {% for backsplash_img in bcsplash %}
                                    <img onclick="changeBackSplash(this.src)" src="{{backsplash_img.back_splash.url}}"
                                        alt="no img" style="aspect-ratio: 1 / 1;">
                                    {% endfor %}
                                </div>
                                <!-- </li> -->
                            </li>
                            <!-- --------------------------------------CounterTop------------------------------------------ -->
                            <button class="collapsible">Countertop</button>
                            <li class="list-group-item-primary content">
                                <div style="border: 1px; margin-top: 10px;">
                                    <form enctype="multipart/form-data" id="id_ajax_upload_countertop" method="POST"
                                        novalidate="">
                                        {% csrf_token %}
                                        <!-- {{ countertop_form.texture_wall }} -->
                                        <input class="form-control form-control-sm" onchange="printColor(event)"
                                            id="countertop_input" name="countertop" type="file" multiple>
                                        <input type="submit" name="countertop" />
                                    </form>
                                </div>
                                <!-- <li class="list-group-item list-group-item-primary"> -->
                                <!-- <li class=""> -->
                                <div class="horizontal-scroll hstack gap-2">
                                    {% for countertop_img in countertop_textures %}
                                    <img onclick="changeCountertop(this.src)" src="{{countertop_img.counter_top.url}}"
                                        alt="no img" style="aspect-ratio: 1 / 1;">
                                    {% endfor %}
                                </div>
                                <!-- </li> -->
                            </li>
                        </ul>
                    </div>
                    <div class="content-column col-lg-10 col-md-12 col-sm-12 main-design">
                        <canvas id="renderCanvas" touch-action="none" style="width: 100%; height: 100%;"></canvas>
                    </div>
                </div>
            </div>
        </section>

        <!-- Uses footer1 -->
        {% include "footer1.html" %}

    </div>

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-o-up"></span></div>
    <script src="{% static 'js/render_main.js' %}"></script>
    <!-- <script src="{% static 'js/jquery.js' %}"></script> -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/appear.js' %}"></script>
    <script src="{% static 'js/mixitup.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <!-- Custom js files -->
    <script src="{% static 'js/test.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <!-- Color Setting -->
    <script src="{% static 'js/color-settings.js' %}"></script>
    <!-- Required Files -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

</body>

<!-- about27:05-->

</html>