<!-- {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> -->
<!-- CSS only -->
<!-- <link rel="stylesheet" href="{% static 'index1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
<!-- CSS only -->
<!-- <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="row main-design">
        <canvas id="renderCanvas" touch-action="none"></canvas>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'test.js '%}"></script>
    <script src="{% static 'animation.js '%}"></script>
</body>

</html> -->
<!-- {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> -->
<!-- CSS only -->
<!-- <link rel="stylesheet" href="{% static 'index1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
<!-- CSS only -->
<!-- <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="row main-design">
        <canvas id="renderCanvas" touch-action="none"></canvas>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'test.js '%}"></script>
    <script src="{% static 'animation.js '%}"></script>
</body>

</html> -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- about27:04-->

<head>
    <meta charset="utf-8">
    <title>Contra - Interior Creator HTML Template | About Us</title>
    <!-- Stylesheets -->
    <link href="{% static 'home_resource/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'home_resource/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'home_resource/css/responsive.css' %}" rel="stylesheet">
    <!--Color Switcher Mockup-->
    <link href="{% static 'home_resource/css/color-switcher-design.css' %}" rel="stylesheet">
    <!--Color Themes-->
    <link id="theme-color-file" href="{% static 'home_resource/css/color-themes/default-theme.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'home_resource/images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'home_resource/images/favicon.png' %}" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        <header class="main-header header-style-four">
            <div class="header-top">
                <div class="auto-container clearfix">
                    <div class="top-right">
                        <ul class="contact-info">
                            <li><span>PHONE :</span> (+84) 867-557-243</li>
                            <li><span>EMAIL :</span> <a href="#">Support@yourdomain.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="header-lower">
                <div class="auto-container">
                    <div class="main-box clearfix">
                        <div class="logo-box">
                            <div class="logo"><a href="{% url 'myapp:about' %}"><img
                                        src="{% static 'home_resource/images/logo-2.png' %}" alt="" title=""></a></div>
                        </div>

                        <div class="nav-outer">
                            <!-- Main Menu -->
                            <nav class="main-menu navbar-expand-md ">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->
                                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="icon flaticon-menu-button"></span>
                                    </button>
                                </div>

                                <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li><a href="{% url 'myapp:home' %}">Home</a></li>
                                        <li><a href="{% url 'myapp:about' %}">About</a></li>
                                        <li><a href="{% url 'myapp:service' %}">Services</a></li>
                                        <li><a href="{% url 'myapp:project' %}">Projects</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Shop</a></li>
                                        <li><a href="{% url 'myapp:contact' %}">Contact</a></li>
                                        <li><a href="{% url 'myapp:login' %}">Login</a></li>
                                    </ul>
                                </div>
                            </nav><!-- Main Menu End-->

                            <!-- Outer Box-->
                            <div class="outer-box">
                                <!--Search Box-->
                                <div class="search-box-outer">
                                    <div class="dropdown">
                                        <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                class="fa fa-search"></span></button>
                                        <ul class="dropdown-menu pull-right search-panel"
                                            aria-labelledby="dropdownMenu3">
                                            <li class="panel-outer">
                                                <div class="form-container">
                                                    <form method="post" action="#">
                                                        <div class="form-group">
                                                            <input type="search" name="field-name" value=""
                                                                placeholder="Search Here" required>
                                                            <button type="submit" class="search-btn"><span
                                                                    class="fa fa-search"></span></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--End Main Header -->
        <!--Page Title-->
        <section class="page-title" style="background-image:url(/static/home_resource/images/background/10.jpg);">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="title-box">
                        <h1>About Us</h1>
                        <span class="title">The Interior speak for themselves</span>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'myapp:home' %}">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->
        <section class="about-section" style="background-image: url(/static/home_resource/images/background/1.jpg);">
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="image-column col-lg-2 col-md-12 col-sm-12">
                        <form action="" style="padding-right: 10px; font-size:20px; color:black">
                            <div class="mb-3">
                                <label for="floor" class="form-label">Floor File</label>
                                <input class="form-control form-control-sm" id="floor" type="file">
                            </div>

                            <div class="mb-3">
                                <label for="cabinet" class="form-label">Cabinet</label>
                                <input type="color" class="form-control form-control-color w-25" id="cabinet"
                                    value="#563d7c" title="Choose your color">
                            </div>
                            <div class="mb-3">
                                <label for="handlesCabinet" class="form-label">Handles of Cabinet</label>
                                <input type="color" class="form-control form-control-color w-25" id="handlesCabinet"
                                    value="#563d7c" title="Choose your color">
                            </div>
                            <div class="mb-3">
                                <label for="sinkFaucet" class="form-label">Sink Faucet</label>
                                <input type="color" class="form-control form-control-color w-25" id="sinkFaucet"
                                    value="#563d7c" title="Choose your color">
                            </div>
                            <div class="mb-3">
                                <label for="walls" class="form-label">Walls</label>
                                <input type="color" class="form-control form-control-color w-25" id="walls"
                                    value="#563d7c" title="Choose your color">
                            </div>
                            <div class="mb-3">
                                <label for="backsplash" class="form-label">Backsplash File</label>
                                <input class="form-control form-control-sm" id="backsplash" type="file">
                            </div>
                        </form>
                    </div>

                    <div class="content-column col-lg-10 col-md-12 col-sm-12 main-design">
                        <canvas id="renderCanvas" touch-action="none" style="width: 100%; height: 100%;"></canvas>
                    </div>
                </div>
            </div>
        </section>
        <!-- Main Footer -->
        <footer class="main-footer alternate"
            style="background-image: url(/static/home_resource/images/background/5.jpg);">
            <div class="auto-container">
                <!--Widgets Section-->
                <div class="widgets-section">
                    <div class="row">
                        <!--Big Column-->
                        <div class="big-column col-xl-7 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <!--Footer Column-->
                                <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget about-widget">
                                        <div class="footer-logo">
                                            <figure>
                                                <a href="{% url 'myapp:home' %}"><img
                                                        src="{% static 'home_resource/images/footer-logo.png '%}"
                                                        alt=""></a>
                                            </figure>
                                        </div>
                                        <div class="widget-content">
                                            <div class="text">Contra and layouts, in content of dummy text is
                                                nonsensical.typefaces of dummy text is appearance of different general
                                                the content of dummy text is nonsensical. typefaces of dummy text is
                                                nonsensical.</div>
                                        </div>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget recent-posts">
                                        <h2 class="widget-title">Recent Posts</h2>
                                        <!--Footer Column-->
                                        <div class="widget-content">
                                            <div class="post">
                                                <div class="thumb"><a href="#"><img
                                                            src="{% static 'home_resource/images/resource/post-thumb-1.jpg' %}"
                                                            alt=""></a></div>
                                                <h4><a href="#">Triangle Concrete House on lake</a></h4>
                                                <ul class="info">
                                                    <li>26 Aug</li>
                                                    <li>3 Comments</li>
                                                </ul>
                                            </div>

                                            <div class="post">
                                                <div class="thumb"><a href="#"><img
                                                            src="{% static 'home_resource/images/resource/post-thumb-2.jpg' %}"
                                                            alt=""></a></div>
                                                <h4><a href="#">The Amazing Interior for the Hotel art</a></h4>
                                                <ul class="info">
                                                    <li>26 Aug</li>
                                                    <li>3 Comments</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Big Column-->
                        <div class="big-column col-xl-5 col-lg-12 col-md-12 col-sm-12">
                            <div class="row clearfix">
                                <div class="footer-column col-xl-5 col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget links-widget">
                                        <h2 class="widget-title">Useful links</h2>
                                        <div class="widget-content">
                                            <ul class="list">
                                                <li><a href="{% url 'myapp:about' %}">About</a></li>
                                                <li><a href="{% url 'myapp:service' %}">Services</a></li>
                                                <li><a href="{% url 'myapp:project' %}">Project</a></li>
                                                <li><a href="#">News</a></li>
                                                <li><a href="{% url 'myapp:contact' %}">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-xl-7 col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget gallery-widget">
                                        <h2 class="widget-title">Recent Works</h2>
                                        <div class="widget-content">
                                            <div class="outer clearfix">
                                                <figure class="image">
                                                    <a href="{% static 'home_resource/images/gallery/1.jpg' %}"
                                                        class="lightbox-image" title="Image Title Here"><img
                                                            src="{% static 'home_resource/images/resource/work-thumb-1.jpg' %}"
                                                            alt=""></a>
                                                </figure>

                                                <figure class="image">
                                                    <a href="{% static 'home_resource/images/gallery/2.jpg' %}"
                                                        class="lightbox-image" title="Image Title Here"><img
                                                            src="{% static 'home_resource/images/resource/work-thumb-2.jpg' %}"
                                                            alt=""></a>
                                                </figure>

                                                <figure class="image">
                                                    <a href="{% static 'home_resource/images/gallery/3.jpg' %}"
                                                        class="lightbox-image" title="Image Title Here"><img
                                                            src="{% static 'home_resource/images/resource/work-thumb-3.jpg' %}"
                                                            alt=""></a>
                                                </figure>

                                                <figure class="image">
                                                    <a href="{% static 'home_resource/images/gallery/4.jpg' %}"
                                                        class="lightbox-image" title="Image Title Here"><img
                                                            src="{% static 'home_resource/images/resource/work-thumb-4.jpg' %}"
                                                            alt=""></a>
                                                </figure>

                                                <figure class="image">
                                                    <a href="{% static 'home_resource/images/gallery/5.jpg' %}"
                                                        class="lightbox-image" title="Image Title Here"><img
                                                            src="{% static 'home_resource/images/resource/work-thumb-5.jpg' %}"
                                                            alt=""></a>
                                                </figure>

                                                <figure class="image">
                                                    <a href="{% static 'home_resource/images/gallery/1.jpg' %}"
                                                        class="lightbox-image" title="Image Title Here"><img
                                                            src="{% static 'home_resource/images/resource/work-thumb-6.jpg' %}"
                                                            alt=""></a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="inner-container clearfix">
                        <div class="social-links">
                            <ul class="social-icon-two">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                            </ul>
                        </div>

                        <div class="copyright-text">
                            <a href="https://www.templateshub.net" target="_blank">Templates Hub</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Main Footer -->

    </div>



    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-o-up"></span></div>
    <script src="{% static 'home_resource/js/jquery.js' %}"></script>
    <script src="{% static 'home_resource/js/popper.min.js' %}"></script>
    <script src="{% static 'home_resource/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home_resource/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'home_resource/js/owl.js' %}"></script>
    <script src="{% static 'home_resource/js/wow.js' %}"></script>
    <script src="{% static 'home_resource/js/appear.js' %}"></script>
    <script src="{% static 'home_resource/js/mixitup.js' %}"></script>
    <script src="{% static 'home_resource/js/script.js' %}"></script>
    <!-- Color Setting -->
    <script src="{% static 'home_resource/js/color-settings.js' %}"></script>
    <!-- Required Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'test.js' %}"></script>
    <script src="{% static 'animation.js' %}"></script>
</body>

<!-- about27:05-->

</html>