{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- team27:05-->

<head>
    <meta charset="utf-8">
    <title>Contra - Interior Creator HTML Template | Team</title>
    <!-- Stylesheets -->
    <link href="{% static 'home_resource/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'home_resource/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'home_resource/css/responsive.css' %}" rel="stylesheet">
    <!--Color Switcher Mockup-->
    <link href="{% static 'home_resource/css/color-switcher-design.css' %}" rel="stylesheet">
    <!--Color Themes-->
    <link id="theme-color-file" href="{% static 'home_resource/css/color-themes/default-theme.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'home_resource/images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'home_resource/images/favicon.png' %}" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Uses header1 -->
        {% include "header1.html" %}

        <!--Page Title-->
        <section class="page-title" style="background-image:url(/static/home_resource/images/background/10.jpg);">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="title-box">
                        <h1>Our Team</h1>
                        <span class="title">The Interior speak for themselves</span>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'myapp:home' %}">Home</a></li>
                        <li>Our Team</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->

        <!-- Team Section -->
        <section class="team-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <!-- Team Block -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image"><a href="team.html"><img
                                            src="{% static 'home_resource/images/resource/team-1.jpg' %}" alt=""></a>
                                </div>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                </ul>
                                <h3 class="name"><a href="team.html">Scott Grey</a></h3>
                            </div>
                            <span class="designation">Architect</span>
                        </div>
                    </div>

                    <!-- Team Block -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image"><a href="team.html"><img
                                            src="{% static 'home_resource/images/resource/team-2.jpg' %}" alt=""></a>
                                </div>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                </ul>
                                <h3 class="name"><a href="team.html">Russel Reed</a></h3>
                            </div>
                            <span class="designatiion">Project Manager</span>
                        </div>
                    </div>

                    <!-- Team Block -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image"><a href="team.html"><img
                                            src="{% static 'home_resource/images/resource/team-3.jpg' %}" alt=""></a>
                                </div>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                </ul>
                                <h3 class="name"><a href="team.html">Cheryl Ray</a></h3>
                            </div>
                            <span class="designatiion">Interior Designer</span>
                        </div>
                    </div>

                    <!-- Team Block -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image"><a href="team.html"><img
                                            src="{% static 'home_resource/images/resource/team-4.jpg' %}" alt=""></a>
                                </div>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                </ul>
                                <h3 class="name"><a href="team.html">Scott Grey</a></h3>
                            </div>
                            <span class="designation">Architect</span>
                        </div>
                    </div>

                    <!-- Team Block -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image"><a href="team.html"><img
                                            src="{% static 'home_resource/images/resource/team-5.jpg' %}" alt=""></a>
                                </div>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                </ul>
                                <h3 class="name"><a href="team.html">Russel Reed</a></h3>
                            </div>
                            <span class="designatiion">Project Manager</span>
                        </div>
                    </div>

                    <!-- Team Block -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image"><a href="team.html"><img
                                            src="{% static 'home_resource/images/resource/team-6.jpg' %}" alt=""></a>
                                </div>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                </ul>
                                <h3 class="name"><a href="team.html">Cheryl Ray</a></h3>
                            </div>
                            <span class="designatiion">Interior Designer</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Team Section -->
        
        <!-- Uses footer1 -->
        {% include "footer1.html" %}

    </div>



    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-o-up"></span></div>
    <script src="{% static 'home_resource/js/jquery.js' %}"></script>
    <script src="{% static 'home_resource/js/popper.min.js' %}"></script>
    <script src="{% static 'home_resource/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home_resource/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'home_resource/js/owl.js' %}"></script>
    <script src="{% static 'home_resource/js/wow.js' %}"></script>
    <script src="{% static 'home_resource/js/appear.js' %}"></script>
    <script src="{% static 'home_resource/js/mixitup.js' %}"></script>
    <script src="{% static 'home_resource/js/script.js' %}"></script>
    <!-- Color Setting -->
    <script src="{% static 'home_resource/js/color-settings.js' %}"></script>
</body>

<!-- team27:08-->

</html>